.navbar{
    position: fixed;
    top: 0;
    height: 30px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #111;

}
.logo{
    position: fixed;
    left: 20px;
    width: 80px;
    color: white;
}
.avatar{
    position: fixed;
    right: 20px;    
    width: 30px;
}
.left {
    width: 100%;
}
.right {
    display: flex;
    justify-content: end;
    width: 100%;
}
.login {
    width: 50px;
    height: 25px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 80px;
    text-decoration: none;
}
.signup {
    width: 50px;
    height: 25px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    text-decoration: none;
}
